{% extends 'base.html.twig' %}

{% block title %}Iniciar sesión como vacunador
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		#login_vacunador div {
			margin: 3px;
		}
	</style>


	<div class="container">

		<a href="/custom/login/paciente">Iniciar sesión como Paciente</a>


		<div class="example-wrapper">
			<h1>Iniciar sesión - Vacunador</h1>


			{{ form (formulario)}}


			</div>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger">
					{{ message }}
				</div>
			{% endfor %}


		</div>


	{% endblock %}
