{% extends 'base.html.twig' %}

{% block title %}Hello HomeVacunadorController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">
		<div class="example-wrapper">
			<h1>Menú del Vacunador
			</h1>
			<p>
				Vacunador:
				{{ vacunador.nombre }}
			</p>
		</div>
		<p>
			<a href="/vacunas/a/aplicar">Generar Listado de Vacunas a Aplicar</a>
		</p>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
		<div>
			<img src="{{ asset('build/img/enconstruccion.jpeg') }}" width="300" height="300">
		</div>
	</div>
{% endblock %}
