{% extends 'base.html.twig' %}

{% block title %}Hello RegistrarVacunacionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Registro de aplicacion de Vacuna</h1>

    <b>Paciente: </b> {{ paciente }}
    <br>
    <b>Vacuna: </b> {{ vacuna }}

	{{ form (formulario, {
    attr: {
        class: 'form-group',
    }
})}}


</div>
{% endblock %}
