{% extends 'base.html.twig' %}

{% block title %}Hello TokenController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container">

		<div class="example-wrapper">
			<h1>Token generado
			</h1>

			<p>Token:<b>{{ token }}</b>
			</p>
			<p>Necesitará ingresar este código además de su contraseña para iniciar sesión</p>

			<br>
			<br>

			<a href="completar/vacunacion">Registrar Historial de Vacunacion</a>
			<br>
			<a href="/homepaciente">Pagina Principal</a>


		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
		{% endfor %}
	</div>
{% endblock %}
