{% extends 'base.html.twig' %}

{% block title %}Hello TurnoAsignadoController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Turno asignado</h1>

<br>
<p>Turno reservado para:</p>


<b>Fecha: </b>
<p>{{ turno.fecha }}</p>

<b>Vacunatorio: </b>
<p>{{ turno.vacunatorio }}</p>

<b>Direccion: </b>
<p>{{ turno.direccion }}</p>

<b>Vacuna: </b>
<p>{{ turno.vacuna }}</p>


<a href="/homepaciente">Página Principal</a>
</div>
{% endblock %}
